# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
env/
Scripts/
Lib/
Include/
pyvenv.cfg

# Django
*.log
local_settings.py
db.sqlite3
media/

# Environment
.env

# PyCharm
.idea/

# Docker
*.env.local
